.container {

  width: 100vw;
  height: 1300px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.container__body {
  width: 1000px;
  height: 1200px;
  /* border: 1px solid blue; */
}

.containerDouble {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}